<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <add name="OracleClient Data Provider"
       invariant="Oracle.DataAccess.Client"
       description=".Net Framework Data Provider for Oracle"
       type="Oracle.DataAccess.Client.OracleClientFactory,Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
    />
    </DbProviderFactories>
  </system.data>
</configuration>